body{
	background: #949cc7;
	font-family: 'Josefin Sans', sans-serif;
}

/*/--------------CABEÇALHO------------------------/*/
header {
	background:#0c3c4c;
	padding: 10px;
}

.caixa {
	position: relative;
	width: 100%;
	margin: auto;
}

.cabecalho {
	position: absolute;
	top: 80px;
	right: 150px;
}

.logo{
position: relative;
left: 50px;
}

.cabecalho li {
	display: inline;
	margin: 0 5px 0 5px;
}

.cabecalho a {
	text-transform: uppercase;
	color: #f88c58;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

.cabecalho a:hover {
	font-size: 32px;
	text-shadow: 0.5px 1.5px #000000;
}
/*/-------------------------------------------------------------------------------------------------/*/

.banner{
	padding: 50px 30px;
}

/*/------------QUALIDADE DOS PRODUTOS DA LOJA-------------/*/
.qualidade{
	background-color: #7d82a2;
	text-align: center;
	border-radius: 50px;
	margin: 50px 100px 30px ;
}

.qualidade h1{
	font-size: 30px;
	margin: 25px 0 10px;
	color: black
}
.qualidade div{
	font-size: 20px;
	text-align: left;
	padding:2px 8% ;
	color: #FFFFFF;
}

.qualidade h2 p{
	padding: 3px 0;
}
/*/-------------------------------------------------------------------------------------------------/*/

/*/------------SOBRE A MV MOLDURAS-------------------/*/
.sobre{
	background-color: #7d82a2;
	text-align: center;
	border-radius: 100px;
	margin: 0px 120px 30px;
}

.sobre h1{
	font-size: 30px;
	margin: 25px 0 10px;
	color: black
}

.sobre div{
	font-size: 20px;
	text-align: left;
	padding:2px 8% ;
	color: #FFFFFF;
}
/*/-------------------------------------------------------------------------------------------------/*/

/*/---------------MISSÃO VISÃO E  VALORES----------------/*/
.mvv{
	background-color: #7d82a2;
	text-align: center;
	border-radius: 100px;
	margin: 0px 150px 50px;
}

.mvv h1{
	font-size: 30px;
	margin: 25px 0 10px;
	color: black
}

.mvv div{
	font-size: 20px;
	text-align: left;
	padding:2px 8% ;
	color: #FFFFFF;

}
/*/-------------------------------------------------------------------------------------------------/*/

/*/------------------RODAPÉ-------------------------------/*/

footer{
	background:#b2a67c;
	padding: 40px 0;
	margin: 40px 0 0;
}

dd a{
	color: black;
	text-decoration: none;
}

.copyright {
	text-align: center;
	font-size: bolder 15px;
	color: #000000;
}