.banner{
	padding: 40px 60px;
}

/*/------------QUALIDADE DOS PRODUTOS DA LOJA-------------/*/
.qualidade{
	transform: scale(1.0);
	transition: 1.5s all;
	background-color: #22addc;
	border-radius: 20px;
	margin: 50px 100px 50px ;
  	box-shadow: 10px 15px 20PX #0c3c4c;
}
.qualidade:hover{
	transform: scale(1.1);
	transition: 1.5s all;
}

.qualidade h1{
	background-color: #0c3c4c;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0px;
	color: #f88c58;
}


.qualidade div{
	font-size: 20px;
	text-align: left;
	padding:30px 80px ;
	color: #FFFFFF;
}

.qualidade div p{
	padding: 3px 0;
}
/*-------------------------------------------------------------*/

/*/------------SOBRE A MV MOLDURAS-------------------/*/
.sobre{
	transform: scale(1.0);
	transition: 1.5s all;
	background-color: #22addc;
	border-radius: 20px;
	margin: 0px 150px 50px;
	box-shadow: 10px 15px 20PX #0c3c4c;
}

.sobre:hover{
	transform: scale(1.1);
	transition: 1.5s all;
}

.sobre h1{
	background-color: #0c3c4c;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0px;
	color: #f88c58;
}


.sobre div{
	font-size: 20px;
	text-align: left;
	padding:30px 80px ;
	color: #FFFFFF;
}

.sobre div p{
	padding: 3px 0;
}
/*/-------------------------------------------------------------------------------------------------/*/

/*/---------------MISSÃO VISÃO E  VALORES----------------/*/
.mvv{
	transform: scale(1.0);
	transition: 1.5s all;
	background-color: #22addc;
	border-radius: 20px;
	margin: 0px 200px 50px;
	box-shadow: 10px 15px 20PX #0c3c4c;
}

.mvv:hover{
	transform: scale(1.1);
	transition: 1.5s all;
}

.mvv h1{
	background-color: #0c3c4c;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0px;
	color: #f88c58;
}

.mvv div{
	font-size: 20px;
	text-align: left;
	padding:30px 80px ;
	color: #FFFFFF;
}

.mvv div p{
	padding: 3px 0;
}