form {
	margin: 40px 0;
}

form label, form legend{
    background-color: #0c3c4c;
    color:#f88c58;
	display:block;
	font-size: 20px;
	margin: 20px 25% 0 25%;
    padding: 10px 25px;
    border-radius: 15px;
}

.input-padrao {
    background-color:#22addc;
    color: #FFFFFF;
    font-weight: bold;
	display: block;
	margin: 0 26.5% 0 25%;
	padding: 10px 25px;
	width: 46.5%;
    border-radius: 15px;
    border: none;
}


.checkbox {
	margin: 0 25% 10px 25%;
}

.enviar {
	width: 53%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
    margin: 0px 0px 0px 25%;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}